li.slider-item{
        background-size: cover;
        height: 500px;
}

#homeMainSearch
{
    margin-top:20px;
}
h1.section-title
{
    padding-top:40px;
    font-size:100px;
}

#searchIcon {
    margin-left: 5px;
}

.section-subtitle
{
    font-size:50px;
}